# Python runtime artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Hugging Face local cache / downloads
.cache/
.cache/huggingface/
.pytest_cache/

# IDE / System files
.vscode/
.idea/
.DS_Store

# Local dev benchmarking & test images
dev_benchmarks/
